.leftCom {
  width: 20%;
  position: absolute;
  top: 10%;
  background-color: white;
  height: 90%;
  overflow: auto;
}

.leftCom .ant-collapse-content-box{
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  padding: 0 !important;
  margin-bottom: 10px;
  max-height: 60vh;
}

.componentItem{
  width: 80px;
  height: 30px;
  margin-top: 10px;
  margin-left: 15px;
  border: 1px solid rgb(187, 181, 181);
  border-radius: 4px;
  padding: 10px;
}

.componetGroup{
  display: flex;
  flex-wrap: wrap;
}

.comCollapse {
  padding: 0;
  background: none;
  overflow: auto;
  border-radius: 0;
  margin-top: -16px;
}

.leftList .toDownicon{
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-align: center;
  line-height: 14px;
  margin-right: 10px;
  cursor: pointer;
}

.leftList .leftAttributeItem{
  border-bottom: 1px solid black;
}