.designTop{
  position: absolute;
  height: 10%;
  color: rgb(211, 202, 202);
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 2px 2px rgb(209, 203, 203);
  background-color: #ffffff;
  .icon {
    font-size: 20px;
    float: right;
    color: rgb(0, 26, 255);
    margin-top: 50px;
    margin-right: 60px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 10px 0px rgb(213, 213, 223);
  }
}

.designTop .title {
  color:rgb(192, 190, 230);
  position: relative;
  left: 100px;
  font-size: 28px;
  top: 15px;
  font-style: italic;
  font-weight: bold;
}

.designTop button{
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}